node_modules/
www/
platforms/
plugins/
dist/
.vscode/
*.log
/index.html
build/
.idea/modules.xml
.idea/GGJ2018.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
.idea/misc.xml
